* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.sec-section2 h1 {
  font-size: 48px;
  font-weight: 900;
}
.sec-section2{
  height: 142vh;
}
.top-margin{
  margin-top: -52vh;
}
.third-section{
  height: 250vh;
}
.cont-bg{
 height:140vh ; 
}
.fourth-sec{
  height: 152vh;
}
.img-1 {
  transform: rotate(18.62deg);
}
.img-2 {
  transform: rotate(-110.37deg);
}
.img-3 {
  transform: rotate(-26.9deg);
}
.img-4 {
  transform: rotate(20.17deg);
}
.img-5 {
  transform: rotate(321.15deg);
}



@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.typing-effect {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid white;
  animation: typing 4s steps(30) 1s 1 normal both;
}

.border-set {
  border: 2px blueviolet solid;
  height: 200px;
  width: 100%;
}
.footer-input {
  width: 90%;
}

@media (min-width: 640px) {
  .footer-input {
    width: 50%;
  }
}

.Sea-moss {
  margin-left: 0;
}

@media (min-width: 640px) {
  .Sea-moss {
    margin-left: -20px;
  }
}

.img-sec {
  height: 400px;
}

@media (min-width: 768px) {
 
 

  .forth-b,
  .yellow-bg,
  .footer-bg {
    margin-top: -230px;
    height: 600px;
  }

}

@media (max-width: 640px) {
  .herosection img {
    height: 7rem;
    margin-bottom: 0;
  }
  .btm2 {
    margin-top: 30px;
  }
  .img-sec {
    height: 200px;
  }
  .sec-section2 h1 {
    font-size: 2rem;
  }
  .sec-section2 p {
    font-size: 1rem;
  }

  .map-height iframe {
    height: 50%;
  }
  .img-bot {
    margin-bottom: 80px;
  }
  .third-section{
    height: 180vh;
  }
}

@media (max-width: 1024px) {
  .herosection img {
    height: 7rem;
    width: 37px;
}
.third-section {
  height: 163vh;}
  .menu-mobile {
    position: absolute;
    top: 30;
  }
  .herosection {
    display: flex;
    justify-content: center;
  }
  .sec-section2 {
    height: 525px;
  }
  .fourth-sec {
    height: 87vh;}
  .top-margin{
    margin-top: -80px;
  }
  .cont-bg {
    margin-top: -3px;
    height: 130vh;
}.margin-small{
  margin-top: -3px;
}
}

.wave-animation path {
  animation: wave 5s ease-in-out infinite;
}

@keyframes wave {
  0% {
    d: path(
      "M0,128L80,149.3C160,171,320,213,480,197.3C640,181,800,107,960,101.3C1120,96,1280,160,1360,192L1440,224L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
    );
  }
  50% {
    d: path(
      "M0,160L80,176.5C160,193,320,224,480,224C640,224,800,192,960,180C1120,168,1280,176,1360,176L1440,176L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
    );
  }
  100% {
    d: path(
      "M0,128L80,149.3C160,171,320,213,480,197.3C640,181,800,107,960,101.3C1120,96,1280,160,1360,192L1440,224L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
    );
  }
}


/* @media (max-width: 480px) {
  .sec-section2 {
    height: auto;
  }
  .top-margin {
    margin-top: -20vh; 
  }
  .third-section {
    height: auto; 
  }
  .cont-bg {
    height: auto;
  }
  .fourth-sec {
    height: auto;
  }
} */